@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #e8f3dd;
  --background-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #000;
    --background-color: #e8f3dd;
  }
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}